@use '../abstracts/typography' as tp;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: tp.$ff-josefin-sans;
  font-size: tp.$fz-base;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
