.container {
  width: 100%;
  min-height: 100vh;

  display: grid;
  justify-content: center;

  background-color: whitesmoke;

  @media (min-width: 62.6em) {
    place-content: center;
  }
}
